@media (max-width: 1024px) {
    .steps-section {
        height: auto;
        padding: 60px 0px;
    }

    .input-title {
        margin-top: 15px;
    }

    .registration-section{
        height: auto;
        padding: 60px 0px;
    }
    .reg-input__white{
        margin-bottom: 15px;
    }
    
    .registration-section {
        text-align: center;
    }
}

@media (max-width: 768px) {
    footer .navbar-header__list {
        justify-content: space-around;
    }
    .header-nav .navbar-nav {
        display: none;
    }

    .active-mobile-nav {
        display: block!important;
    }

    .header-nav .container {
        width: 100%;
        justify-content: center;
    }

    .navbar-header__list {
        position: relative;
    }

    .logo {
        position: absolute;
    }

    .navbar-header{
        display: flex;
        margin: 0px;
        width: 49px;  
    }

    .active-mobile-nav {
        position: absolute;
        color: #000;
        background: #f1f1f1;
        height: auto;
        width: 100%;
        background: gray;
        display: block;
        top: 43px;

    }

    .navbar-toggle{
        position: absolute;
        top: 25px;
        right: 15px;
        margin: 0px;
        cursor: pointer;
    }

    .navbar-nav .navbar-header__link {
        padding: 20px 40px;
        background: #171717;
        margin-bottom: -1px;
    }

    .vk-link {
        display: none!important;
    }

    footer{
        height: auto;
        padding:35px 0px;
    }

    footer .navbar-nav{
        flex-direction: column;
    }

    footer .navbar-nav .navbar-header__link {
        background: #000!important;
        text-align: center;
    }

    .footer-facebook, .footer-instagram,
    footer .vk-link {
        display: none!important;
    }

    .winners-container .modal-dialog{
        overflow: scroll; 
        width: 800px !important;
    }

}

@media (max-width: 544px) { 
    .registration-section{
        padding: 90px 10px;
    }

    .intro-content__textBold {
        font-size: 58px;
    }

    .step-number {
        font-family: 'RobotoMedium';
        font-size: 149px;
        letter-spacing: -11px;
    }

    .step-number:before {
        left: 6px;
    }

    .step-wrapper {
        padding-bottom: 50px;
    }  

    .intro-content__text {
        font-size: 32px;
        padding-left: 70px;
        margin-bottom: 0px;
    }   

    .reg-input__code, .registration-button {
        width: calc(100% - 40px);
        margin-bottom: 10px;
        margin-right: 0px;
    }
}